.author {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: auto;
  padding: 1rem;
  display: flex;

  max-width: 40%;
  margin: 1em;

  max-width: 400px;
  font-size: smaller;
  margin-right: 5%;
}

.contact-link {
  color: black;
}

.profile-img-container {
  background-image: url("https://i.postimg.cc/XJJSvZMj/me-avatar.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: screen;
  background-blend-mode: luminosity;

  background-color: slategray;
  opacity: 70%;
  flex: 1;
  max-width: auto;
  max-height: auto;
  border-radius: 50%;
  margin: 1em;
  padding: 1em;
}

.author-info-container {
  flex: 2;
  margin: 1em;
}

@media (max-width: 815px) {
  .author {
    max-width: 70vw;
    flex-direction: column;
    max-width: 200px;
    font-size: smaller;
    margin-right: 5%;
  }

  .profile-img-container {
    background-image: url("https://i.postimg.cc/XJJSvZMj/me-avatar.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
    background-blend-mode: luminosity;

    background-color: slategray;
    opacity: 70%;
    flex: 1;
    max-width: auto;
    max-height: auto;
    border-radius: 50%;
    margin: 1em;
    padding: 1em;
    min-height: 120px;
  }
}
