footer {
  padding: 1em;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  flex: 1;
}

.social-links-footer {
  flex: 1;

  height: 80px;
}

.social-links-footer ul li {
  list-style-type: none;
  display: inline-block;
}

.footer-social-link {
  color: white;
  margin: 1em;
  text-decoration: none;
}
