.post {
  padding: 0;
  margin-top: 0px;
  background-color: gray;
  background-blend-mode: luminosity;
  height: 100%;
}

.post-header {
  display: flex;
}

.post-header h1 {
  padding-top: 1em;
  margin-left: 10vw;
  flex: 1;
}

.ingredients-wrapper {
  display: flex;
}

.ingredients {
  margin: 1em;
  padding: 1em;
  border-radius: 15px;
  flex: 1;
  opacity: 95%;
}

.ingedients-content {
  display: flex;
  flex-direction: column;
}

.ingredients-img img {
  max-width: 100%;
}

.ingredients-list {
  width: auto;
  height: auto;
  display: block;
}

.food-img {
  flex: 1;
}

.food-img img {
  max-width: 90%;
  max-height: auto;
  margin: 1em;
  padding: 1em;
  border-radius: 15px;
}

.method {
  margin: 1em;
  padding: 1em;
  border-radius: 15px;
  opacity: 95%;
}

.method-content-wrapper {
  display: grid;
  gap: 100px;
  grid-template-columns: 50% 1fr;
}

.method-content {
  padding: 1em;
}

.method-content-img {
  padding: 1em;
}

.tools-img {
  display: block;
  max-width: 100%;
}

.top-tip-wrapper {
  max-width: 100%;
  display: flex;
}

.top-tip-wrapper img {
  max-width: 100px;
  max-height: auto;
  padding: 1em;
  display: block;
}

#carbonara-post {
  background-image: url("https://i.postimg.cc/y8gSWxQb/carbonara.jpg");
  height: auto;
  background-size: cover;
}

#chili-post {
  background-image: url("https://i.postimg.cc/4dTcDG1F/chili-con-carne.jpg");
  height: auto;
  background-size: cover;
}

#curry-post {
  background-image: url("https://i.postimg.cc/mkLHrSJY/curry.jpg");
  background-size: cover;
  height: auto;
}

@media (max-width: 815px) {
  .post-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ingredients-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .method-content-wrapper {
    display: flex;
    flex-direction: column;
  }
}
