@import "colours.css";
@import "typography.css";

@import "top-nav.css";
@import "recipe-card.css";
@import "footer.css";

@import "home.css";
@import "posts.css";
@import "post.css";

body {
  margin: 0;
  padding: 0;
}

.content-wrapper {
  margin-top: -18px;
}

.pan-icon {
  max-width: 2em;
  margin-right: 20px;
}
