@import "colours.css";
@import "typography.css";

@import "top-nav.css";
@import "recipe-card.css";
@import "footer.css";

@import "home.css";
@import "posts.css";
@import "post.css";

@import "author.css";

body {
  margin: 0;
  padding: 0;
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
}

.pan-icon {
  max-width: 2em;
  margin-right: 20px;
}

figcaption {
  color: black;
  padding: 0.5em;
}
