#header {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  flex: 1;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

.logo-img {
  display: block;
  max-width: 100%;
  max-height: auto;
}

.nav-link {
  display: block;
  padding: 0.5em;
  margin: 0.5em;
}

.nav-link:hover {
  display: block;
  padding: 0.5em;
  margin: 0.5em;
  background-color: black;
}

@media (max-width: 815px) {
  .logo-img {
    display: block;
    max-width: 300px;
    max-height: auto;
  }
}
